.action{
    width: 1960;
    height: 898px;
    background-image: url('./img/bg_1.png');
    background-repeat: no-repeat;
    object-fit: cover;

    .action_bg_2{
        height: 100%;
        background-image: url('./img/bg_2.png');
        background-repeat: no-repeat;
        object-fit: cover;

        .action_info{
            
            width: 530px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 13px;
            padding-top: 230px;

        }
    }
}



@media screen and (max-width: 1280px){

    .action_info{
        margin: 0 auto;
    }


}
@media screen and (max-width: 680px){
    .action{
      
    
        .action_bg_2{
            
    
            .action_info{
                
                width: 90% ;
              
                h1{
                    font-size: 40px;
                    text-align: center;
                    line-height: 70 px;
                }
            }
        }
}}
